body{
    background:url("suppu.jpg") no-repeat fixed ;
    background-size: cover;
    margin:0%;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#form{
    width:400px;
    margin:20vh;
    background:rgba(255, 255,255,0.1);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
h2{
    text-align: center;
    color: black;
}
#form button{
    background:rgba(255, 255,255,0.1);
    color:white;
    border: 1px solid black;
    border-radius: 5px;
    padding:3px;
    margin:20px 0px;
    cursor:pointer;
    font-size:20px;
    width:100%;
}
.inputgroup{
    display:flex;
    flex-direction:column;
    margin-bottom:15px;
    
}
.inputgroup input{
    border-radius: 5px;
    font-size: 15px;
    margin-top: 5px;
    padding:10px;
    border:1px solid black;
}
.inputgroup input:focus{
    outline:0;
}
.inputgroup.error{
    font-size: 15px;
    color:red;
}
.inputgroup.success input{
    border-color: green;
}
.inputgroup.error input{
    border-color: red;
}